<ul class="sidebar-nav" id="sidebar">     
    <li><a routerLink="Home"><span class="sub_icon fa fa-home"></span>Dashboard</a></li>
    <li class="dropdown-toggle dropdown" ><a href="#homeSubmenu" aria-expanded="false" data-toggle="dropdown"><span class="sub_icon fa fa-users"></span>Applicants<span class="sub_icon2 fa fa-minus"></span></a>
        <ul class="dropdown-menu">
          <li>
              <a routerLink="All_Applicants">All Applicants</a>
          </li>
          <li>
              <a routerLink="Add_Applicants">Add Applicants</a>
          </li>
      </ul>
      </li>
      <li class="dropdown-toggle dropdown" ><a href="#homeSubmenu" aria-expanded="false" data-toggle="dropdown"><span class="sub_icon fa fa-list"></span>Agents<span class="sub_icon2 fa fa-minus"></span></a>
        <ul class="dropdown-menu">
          <li>
              <a routerLink="All_Agents">All Agents</a>
          </li>
          <li>
              <a routerLink="Add_Agents">Add Agents</a>
          </li>
      </ul>
      </li>
       <li><a routerLink="Pre_med"><span class="sub_icon fa fa-user-md"></span>Pre Med</a></li>
       <li><a routerLink="Non_premed"><span class="sub_icon fa fa-file-text-o"></span>Non Pre Med</a></li>
       <li><a routerLink="encodersms"><span class="sub_icon fa fa-edit"></span>SMS</a></li>
     </ul>
     <ul class="blank-space sidebar-nav"></ul>